<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather project</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 supportt of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the pagae via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="mainController" ng-app="weather"> 
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="2"></div>
                <a class="navbar-brand page-scroll" href="#page-top">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li ng-show="!isLoggedIn">
                        <a id="fbLogout" ng-click="fbLogout()">Logout</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#about">About Nedim</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#app">Test App</a>
                    </li>
                </ul>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>
    </nav>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Get Weather</h1>
                        <p class="intro-text"> Nedim's web aplication</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-0">
                <img src="img/slika.jpg" align="left">
                <h2>About Nedim</h2>
                <p>My name is Nedim Kaknjasevic. I was born on 25.08.1991.<br>Studied on University of Sarajevo, Faculty of Electrical Engineering, Department of Telecommunications, Sarajevo (Bosnia and Herzegovina).
                <br> I entered world of IT because i love challenges and change of profession seemed to me like a good challenge and  i see myself in that world in the future. </p>
            </div>
        </div>
    </section>
    <!-- Download Section -->
    <section id="app" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Weather</h2>
                    <p>See simple weather info for main cities in BiH</p>
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Open App</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog" style="z-index: 1400;">
                        <div class="modal-dialog" style="resize:vertical">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4><font color="black">Weather</font></h4>
                                </div>
                                <div class="modal-body" style="height:470px">
                                    <p>
                                        <font color="black">
                                            <div class="table" style="font-size:medium; text-align:right" ng-repeat="model in data">
                                                {{model.grad}} 

                                                {{model.temp}}°C
                                                <button style="margin-left:200px" ng-click="add($index)">+</button>
                                                <button ng-click="remove($index)">-</button>
                                            </div>
                                            <div id="link"></div>
                                        </font>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="save()">Download</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Nedim Kaknjasevic 2016</p>
        </div>
    </footer>
</body>
</html>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '267171153643208',
            xfbml: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="scripts/jquery.js"></script>
<script src="scripts/jquery.easing.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/grayscale.js"></script>
<script src="../../scripts/angular.js"></script>
<script src="../../scripts/angular-route.js"></script>
<script src="App/app.js"></script>
<script src="App/Services/main.Service.js"></script>
<script src="App/Controllers/main.Controller.js"></script>